@model List<SingSpaze.Models.Management.Song>

@{
    ViewBag.Title = "Song Lists";
}
<div style="padding-top: 25px;padding-bottom: 30px;">
<form id="upload" name="upload" action="song/import" method="post" enctype="multipart/form-data">Import  <input name="filedata" style="margin-top: 30px;" type="file" onchange="ajaxupload();" /></form>
<table style="width:100%;border: 1px solid black;text-align: center;">
    <tr style="border: 1px solid black;background-color: rgb(218, 216, 216);">
        <td style="text-align: left;padding-left: 15px;"><h2>Song Lists</h2></td>
        <td style="text-align: right;" ><input style="margin-top: 30px;" type="button" value="Create New" onclick="location.href='@Url.Action("create", "song")'" /></td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 15px;">
        <table style="border-bottom:1px solid black;">    
    <tr>
        @*<th style="border: 1px solid black;text-align: center;">
            @Html.DisplayNameFor(model => model.originName)
        </th>*@
        <th style="border: 1px solid black;text-align: center;">
            Song Title
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Album
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Artist
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Language
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Genre
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Publisher 
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Length
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Edit
        </th>
        <th style="border: 1px solid black;text-align: center;">
            Status
        </th>        
        @*<th>
            @Html.DisplayNameFor(model => model.song_releasedDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_thumbnail)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_picture)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_status)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_addedDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_filePath)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_price)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.song_view)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr style="text-align: left;">
        @*<td>
            @Html.DisplayFor(modelItem => item.originName)
        </td>*@
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Album)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
           @* @Html.ActionLink("Edit", "Edit", new { id = item.id })*@
           <a style="color:Blue;" href="@Url.Action("edit", "song", new { id = item.Id })">Edit</a>
        </td>
        <td style="border-left: 1px solid black; border-right:1px solid black;text-align: left;padding: 10px;">
            @*@Html.DisplayFor(modelItem => item)*@
           @* @if (item.status == 1) { Response.Write("active"); } else { Response.Write("deactive"); }*@ 
            @if (item.Status == 1)
              {
              <label style="color:Blue;">Active</label>
              }
            else
            {
              <label style="color:Red;">Deactive</label>
            }          
        </td>
        
        
        @*<td>
            @Html.DisplayFor(modelItem => item.song_keywords)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.song_lyrics)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.contentpartnerdata.description)
        </td>*@
        
        @*<td>
            @Html.DisplayFor(modelItem => item.song_releasedDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.song_thumbnail)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.song_picture)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.song_status)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.song_addedDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.song_filePath)
        </td>*@
       @* <td>
            @Html.DisplayFor(modelItem => item.song_price)
        </td>*@
       @* <td>
            @Html.DisplayFor(modelItem => item.song_view)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
           @* @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>*@
    </tr>
}

</table>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript">
    function ajaxupload() {
        var frm = $(document.upload);
        var data = new FormData(document.getElementById("upload"));

        $.ajax({
            type: "POST",
            url: frm.attr("action"),
            enctype: 'multipart/form-data',
            data: data,
            processData: false,  // tell jQuery not to process the data
            contentType: false,   // tell jQuery not to set contentType
            success: function (response) {
                alert(response)
                //alert("<?php echo base_url(); ?>" + "/" +response);
            }
        });

        //$.post(frm.attr("action"), data, function(response) {
        //	document.getElementById("picprofile").src = response;

        //});


    }

</script>