<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
       @* @Scripts.Render("~/iCampus")*@
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
    <div style="display: inline-block;width: 100%;">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("SingSpaze Backend", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <div>
        <div style="width:200px;float:left;display:inline-block;padding-left: 10px;padding-top: 10px;">
            <table style="width:100%">
                @*<tr>
                    <td><hr /></td>
                </tr>
                <tr>
                    <td>User Account</td>
                </tr>                
                <tr>
                    <td><a href="@Url.Action("index", "account")">User list</a></td>
                </tr>*@
                <tr>
                    <td><hr /></td>
                </tr>
                <tr>
                    <td>Song</td>
                </tr>                
                <tr>
                    <td><a href="@Url.Action("index", "song")">Song list</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Push_Notification", "account")">Push Notification</a></td>
                </tr>
                <tr>
                    <td><hr /></td>
                </tr>
            </table>
        </div>
        <div style="margin-left:200px;background-color: #efeeef;padding-bottom: 35px;">
            <section style="padding-left: 50px;padding-right: 50px;">
                @RenderBody()
            </section>
        </div>
    </div>
        
        
        @RenderSection("scripts", required: false)
    </body>
</html>
